/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
  background-color: #000;
  color: #fff;
}

/* LOGIN CONTAINER */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN BOX */
.login-box {
  width: 360px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.75);
}

/* TITLE */
.login-box h1 {
  font-size: 32px;
  margin-bottom: 28px;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  background: #333;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
}

/* BUTTON */
.login-box button {
  width: 100%;
  padding: 14px;
  background: #e50914;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background: #f40612;
}

/* ERROR */
.error {
  color: #e87c03;
  font-size: 14px;
  margin-bottom: 12px;
}

/* DASHBOARD */
.dashboard {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
